<div id="toolbar">
  <h1>Learn Pyhton</h1>
  <div>
    <ul>
      <li><a href="Home">     Home  </a></li>
      <li><a href="Post">     Post  </a></li>
      <li><a href="Contact">  Contact us </a></li>
    </ul>
  </div>
</div>

<div id="contactFormDiv">
  <div id="contactFormTittle">
    <h3>Contact Us</h3>
  </div>

  <div id="contactCenterDiv">
    <div id="labelColumn">
      <p class="contactFormLabel"> <label>First Name:* </label>	</p>
      <p class="contactFormLabel"> <label>Last Name:* </label>	</p>
      <p class="contactFormLabel"> <label>Email:* </label>				</p>
      <p class="contactFormLabel"> <label>Cellphone: </label>		</p>
      <p class="contactFormLabel"> <label>Message:* </label>			</p>
    </div>

    <div id="inputColumn">
      <input class="contactFormInput" type="text"  name="firstName">
      <input class="contactFormInput" type="text"  name="LastName">
      <input class="contactFormInput" type="email" name="email">
      <input class="contactFormInput" type="text"  name="Phone">
      <textarea class="contactFormInput" name="menssage" rows="7"></textarea>
    </div>
  </div>
  <button id="submitButton" type="submit"> Send	</button>
</div>
